
@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

<h2>Thanh toán thất bại</h2>
@Html.ActionLink("Quay lại", "JobPackageRequestListRecruiter", "JobPackage")


